<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div>
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Świat konia</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/profile/">Moje konto</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/register/">Rejestracja</a>
                </li>
                {% endif %} {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item nav-link disabled">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                </li>
                <li class="nav-item nav-link">
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                {% else %}
                <li class="nav-item nav-link">
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>