{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
          <div class="row">
            <div class="col-md-12">
              <div>
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div>
                        {{ form_label(form.adv_title, 'Tytuł ogłoszenia:') }}
                    </div>
                    <div>
                        {{ form_errors(form.adv_title) }}
                        {{ form_widget(form.adv_title, {'attr': {'class': 'col-12 col-form-label'}} ) }}
                    </div>
                    <div>
                        {{ form_label(form.adv_description, 'Treść ogłoszenia:') }}
                    </div>
                    <div>
                        {{ form_errors(form.adv_description) }}
                        {{ form_widget(form.adv_description, {'attr': {'class': 'col-12 col-form-label'}} ) }}
                    </div>
                    <div>
                        {{ form_label(form.price, 'Cena:') }}
                    </div>
                    <div>
                        {{ form_errors(form.price) }}
                        {{ form_widget(form.price, {'attr': {'class': 'col-3 col-form-label'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.adv_category, 'Kategoria:') }}
                    </div>
                    <div>
                        {{ form_errors(form.adv_category) }}
                        {{ form_widget(form.adv_category, {'attr': {'class': 'col-4 col-form-label'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.region_id, 'Województwo:') }}
                    </div>
                    <div>
                        {{ form_errors(form.region_id) }}
                        {{ form_widget(form.region_id, {'attr': {'class': 'col-4 col-form-label'}}) }}
                    </div>
                    <div>
                      <p></p>
                    </div>
                    <div>
                        <img class="card-img-right flex-auto d-none d-lg-block" src="{{ asset('img/')}}{{  adv.getImageName }}" height="90" width="150" />
                    </div>
                    <div>
                        {{ form_errors(form.imageFile) }}
                        {{ form_widget(form.imageFile, {'attr': {'class': 'col-8 col-form-label'}}) }}
                    </div>
                    <div>
                      <p></p>
                    </div>
                    <div>
                        {{ form_widget(form.send, {'attr': {'class': 'btn btn-danger'}}) }}
                    </div>

                {{ form_end(form) }}
              </div>
            </div>
        </div>
</div>
{% endblock %}

