{% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block content %} {% for adv in advert %}
<div class="album py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top">
                    <div class="card-body">
                        <div class="row">
                        <div class="col-2">
                            <img class="card-img-right flex-auto d-none d-lg-block" src="{{ asset('img/')}}{{ adv.getImageName }}" height="80" />
                        </div>
                        <div class="col-10">
                        <div class="card-text">
                            <div>
                                {% if adv.isActive() == false %}
                                    <div class="alert alert-danger" role="alert">
                                        Ogłoszenie nieaktywne. Aktywuj, aby wyświetlić ogłoszenie innym użytkownikom.
                                    </div>
                                {% endif %}
                                <h4>
                                    {{ adv.getAdvTitle }} 
                                </h4>
                                    {% if adv.getAdvCategory.getId == "1" %}
                                        <a href="{{ path('adverts_category', {'id': adv.getAdvCategory.getId }) }} " class="badge badge-primary">KATEGORIA: {{ adv.getAdvCategory|upper }}</a>
                                    {% elseif adv.getAdvCategory.getId == "2" %}
                                        <a href="{{ path('adverts_category', {'id': adv.getAdvCategory.getId }) }} " class="badge badge-danger">KATEGORIA: {{ adv.getAdvCategory|upper }}</a>
                                    {% elseif adv.getAdvCategory.getId == "3" %}
                                        <a href="{{ path('adverts_category', {'id': adv.getAdvCategory.getId }) }} " class="badge badge-warning">KATEGORIA: {{ adv.getAdvCategory|upper }}</a>
                                    {% elseif adv.getAdvCategory.getId == "4" %}
                                        <a href="{{ path('adverts_category', {'id': adv.getAdvCategory.getId }) }} " class="badge badge-dark">KATEGORIA: {{ adv.getAdvCategory|upper }}</a>
                                    {% else %}
                                        <a href="{{ path('adverts_category', {'id': adv.getAdvCategory.getId }) }} " class="badge badge-secondary">KATEGORIA: {{ adv.getAdvCategory|upper }}</a>
                                    {% endif %}
                            </div>
                        </div>
                        <p class="card-text">{{ adv.getAdvDescription|slice(0, 100) }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('advert_show_id', {'id': adv.getId}) }} ">View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('advert_edit', {'id': adv.getId}) }}">Edit</a></button>
                                {% if adv.isActive() %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('advert_deactivate', {'id': adv.getId}) }} ">Deactivate</a></button>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('advert_activate', {'id': adv.getId}) }} ">Activate</a></button>       
                                {% endif %}
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('advert_remove', {'id': adv.getId}) }} ">Remove</a></button>      
                            </div>
                            <small class="text-muted">ID ogłoszenia: {{ adv.getId }} | Dodano:  {{ adv.getPublishDate.format('Y-m-d H:i:s') }} </small>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %} Brak ogłoszen. {% endfor %} {% endblock %}